@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
/*
Used colours in this project

  #5680E9
  #C1C8E4
  #FFFFFF
  #5AB9EA


*/

$color_one : #3170BE;
$color_two : #F7F9FB;
$color_three : #31708E;
$default-font-size : 62.5%;

@import "base/base";
@import "layout/nav";
@import "layout/our_service_boxes";
@import "layout/achived_results";
@import "components/our_services_more";
@import "layout/our_examine_boxes";
@import "components/btn";
@import "layout/find_us";
@import "layout/contact_us";
@import "layout/footer";
@import "pages/szolgaltatasok";
@import "pages/rolunk";
@import "layout/products_layout";
@import "queries/mobil";

