.achieved_result{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .achieved_result_logos {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    img:not(:nth-child(2)){
      margin: 1%;
    }
    img:nth-child(2){
      margin-top: 1%;
      margin-left: 1%;
      margin-bottom: 1%;
    }
  }
  .achieved_result_text{
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    min-width: 300px;
    display: flex;
    align-items: center;
  }
}
