.find_us {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  .find_us__open_table{
    background-color: darken($color_one,2);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    .find_us__open_table__row{
      display: flex;
      justify-content: center;
      margin-top: 0.5%;
      margin-bottom: 0.5%;
      .find_us__open_table__column{
        text-align: center;
        width: 50%;
        min-width: 120px;
        font-size: 1rem;
      }
    }
  }
  .find_us__address{
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .find_us__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 1%;
  }
  .find_us__google_map{
    background-color: darken($color_one,2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    .title{
      margin-bottom: 2%;
    }
    .mapouter{
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}
