.our_services_boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .our_services_boxes__box{
    position: relative;
    width: 33.3%;
    min-width: 300px;
    max-height: 40vh;
    overflow: hidden;
    img{
      width: 500px; //it will be always more than the with size
      filter: brightness(60%);
      transition: all 1s;
      transform: scale(1);

    }
    img:hover{
      filter:brightness(80%);
      transform: scale(1.2);
    }
    .our_services_boxes__box__title{
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 2rem;
      transform: translate(-50%,-50%);
      z-index: 9999;
      color: $color_two;
      text-transform: uppercase;
      transition: all 0.5s;
      &:hover{
        border-bottom: 2px solid $color_two;
      }
    }
  }
  .big_service_box{
    img{
      width: 100%;
    }
    width: 100%;
    height: 30vh;
    margin: 0%;

  }
}
