.btn{
  font-size: 1rem;
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  color: $color_two;
  padding: 2% 4%;
  margin: 0.5%;
  background-color: $color_three;
  border: 1px solid $color_two;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: background-color, border 1s;
  &:hover{
    background-color: lighten($color_three,10%);
    border: 1px solid darken($color_two,10%);
  }
}
.btn-ghost{
  background-color: transparent;
  border: 1px solid darken($color_two,10%);
  padding: 2% 4%;
  transition: all 1s;
  &:hover{
    background-color: lighten($color_three,10%);
  }
}
.main-page{
  padding: 5%;
}
