.our_services_more{
  margin-top: 2%;
  padding: 2%;
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  img{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    &:hover{
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
  }
}
